.description {
  padding: 25px 28px 3px 21px;
  margin-bottom: 40px;
  color: $black-text-color;
  background-color: #eadcbd;
  background-repeat: repeat;
  background-image: url('../img/background/background-pattern.jpg');
  border-radius: 16px;

  &__slogan {
    margin-bottom: 20px;
    font-weight: 500;
    @include text(24, 30);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 530px;
    margin-right: 35px;
    margin-bottom: 22px;
    padding-left: 57px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: -13px;
      left: 0;
      width: 49px;
      height: 49px;
      background-repeat: no-repeat;
    }

    &--icecream::before {
      background-image: url('../img/svg/icecream.svg');
    }

    &--bool::before {
      background-image: url('../img/svg/bool.svg');
    }

    &--leaf::before {
      background-image: url('../img/svg/leaf.svg');
    }

    &--termometer::before {
      background-image: url('../img/svg/termometer.svg');
    }
  }
}