.product {
  padding-bottom: 15px;
  width: 220px;

  background-color: $white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  }

  &__link {
    display: flex;
    flex-direction: column-reverse;
  }

  &__title-name {
    display: block;
    text-transform: uppercase;
  }

  &__title {
    @include default;
    padding: 13px 16px;

    font-size: 14px;
    line-height: 18px;
    text-transform: none;
  }

  &__price-block {
    display: flex;

    margin: 0 auto;

    width: 187px;
  }

  &__price {
    padding: 10px 5px;
    width: 109px;
    text-align: center;

    background-color: $price-background;
  }

  &__cart {
    padding: 10px 5px;
    width: 78px;
  }
}