.user-list {
  display: flex;
  flex-wrap: wrap;

  &__link {
    position: relative;

    display: block;
    padding: 25px 22px 27px 38px;

    &:hover, &:focus, &:active {
      background-color: $menu-hover;

      & .user-list__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 27px;
    left: 6px;

    fill: $white;
    opacity: 0.3;
  }

}