//- .modal__map
//-     section.map
//-         h2.visually-hidden Расположение Technomart на карте
//-         iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.59894241237!2d30.32089461569251!3d59.93879686904838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1554462731830!5m2!1sru!2sru", width="940", height="446", frameborder="0", style="border:0" allowfullscreen)
//- .modal__write
//-     section.write
//-         h2.visually-hidden Напишите нам
//-         p.write__text Мы обязательно вам ответим!
//-         form.write__form(action='#', method='post')
//-             input.write__field.field(type='text', name='name', placeholder='Как вас зовут?')
//-             input.write__field.field(type='text', name='mail', placeholder='Ваша почта для ответа?')
//-             textarea.write__text-field.field(name='content', placeholder='Напишите что-нибудь...')
//-             button.write__button.button(type='submit') Отправить
//- .modal__overlay
//-     .modal__popup
//-         button.modal__popup-close(type='button', aria-label='Закрыть модальное окно')