head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Услуги по ремонту цифровой техники любой сложности в центре Челябинска по низким ценам с гарантией. Ремонтируем телефоны, планшеты, компьютеры, ноутбуки")
    meta(name="keywords" content="Сервис, центр, срочно, ремонт, услуги, челябинск, ноутбук, планшет, смартфон, телефон, компьютер, цены, прайс")
    link(rel='stylesheet', href='css/styles.css')
    title #{title}