$white: #ffffff;
$black: #000000;

$text-color: #1f1f1f;

$menu-text-color: #00b7f4;
$button-color: #00b3ef;
$button-hover-color: #008bb9;

$green-text: #1aa760;
$blue-text: #00aee8;

$price-background: #074e2a;

$tablet-width: 768px;
$desctop-width: 970px;