@import "normalize";
@import "variables";
@import "libs/slick";
@import "mixins";
@import "fonts";
@import "hidden";
@import "settings";

@import "blocks/arrow";
@import "blocks/container";
@import "blocks/navigation";
@import "blocks/logo";
@import "blocks/info";
@import "blocks/phone";
@import "blocks/help";
@import "blocks/header";
@import "blocks/repairs";
@import "blocks/price";
@import "blocks/social";
@import "blocks/service";

body {
  @include default;
  min-width: 320px;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $text-color;
  background-color: $white;
  background-image: url("../img/background-images.png"), url("../img/background-images.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right -465px top -333px, left -465px bottom -333px;

  @include md {
    background-image: none;
  }
}





