$white: #ffffff;
$black: #000000;

$body-background-1: #849d8f;
$body-background-2: #8996a6;
$body-background-3: #9d8b84;

$menu-item-hover: #fbded8;
$menu-item-active: #f6b5a5;
$menu-active-item: #d07058;

$menu-hover-background: #f7f6f3;
$menu-active-background: #ededed;

$submenu-background: #f8f7f4;

$link-hover: #ffbc9e;
$link-background-hover: #e84d37;

$input-border-color: #d3d3d2;
$input-border-hover-color: #c7c6c5;
$input-border-input-color: #8fbdec;
$input-text-color: #999999;

$icon-color: #373737;
$black-text-color: #323232;

$button-gradient-start: #f26843;
$button-gradient-end: #e74b36;
$button-hover-gradient-start: #f58669;
$button-hover-gradient-end: #ec6f5e;
$button-active-gradient-start: #d74632;
$button-active-gradient-end: #e1613e;

$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;